@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .debug {
    border: 1px solid red;
  }
}

@layer base {
  @font-face {
    font-family: 'digit';
    src: url(/DS-DIGI.TTF) format('truetype');
  }
}

#root {
  width: 100vw;
  height: 100vh;
}
